/**
 Dark skin for page
*/

@media (prefers-color-scheme: dark) { 
    body {
        background: var(--white-color);
    }
    .sja-btn {
        outline: none;
    }


    
} 

.title, article, h1 {
    color: var(--black-color);
}

.dark .totop img {
    filter: unset;
}

.dark .logo-img, .dark footer .logo {
    filter: invert(1);
}